@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

h3 span {
  font-family: 'Luckiest Guy', cursive;
  position: relative;
  top: 1.5vw;
  display: inline-block;
  -webkit-animation: bounce 0.7s ease infinite alternate;
  font-size: 4.5vw;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
@-webkit-keyframes bounce {
  100% {
    top: -1vw;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}


#botonAtras
{
	margin-left: 5vw;
	width: 5.5vw;
  height: 9vh;
  float: left;
}

#botonHome {
  margin-right: 5vw;
  width: 5.5vw;
  height: 9vh;
  float: right;
}
.row
{
  margin-top: 2vw;
  align-content: center;
}

.tituloRepo
{
  margin-top: 2vw;
  /*width: 80%;*/
  text-align: center;
  /*display: inline-block;*/
}

.contenedor
{ 
	text-align: center;
}