@media (min-width: 4096px) {
    .container{
        max-width: 2610px;
    }
}

#buttonHome:hover{
    cursor: pointer;
}

body {
    background-image: url("../img/fondomicro.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                            supported by Chrome, Opera and Firefox */
}

.participant{
    font-size: 5vh;
}